.header-icon {
  color: #215aba;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  display: flex;
  margin-left: 350px;
  margin-top: 30px;
}

.header-name {
  color: #215aba;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  margin-left: 390px;
  margin-top: -35px;
}

.header-option {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: 1px;
  border-radius: 10px;
}

.header-option:hover {

  background-color: white;
}

.tooltip {
  color: black;
}